*.o
*.so
.deps
*.swp
*.dump
*--*

sql/*/*.sql
sql/*/results
regression.*

newgrants_*.sql
oldgrants_*.sql

debian/control
debian/tmp
debian/files
debian/postgresql-*
debian/*-stamp
*.substvars
*.log
*.debhelper

pgq.sql
pgq.upgrade.sql

results/
